.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-top {
  margin-bottom: 30px;
}

.footer-social {
  padding-left: 0;
  margin-bottom: 0;
  margin-right: auto;
  list-style: none;
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 15px;
}

.footer-social__link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $gray-900;
  display: flex;
  transition: background-color .4s;

  &:hover {
    background-color: $orange;
  }
}

.footer-social__icon {
  margin: auto;
  fill: #fff;
  flex: none;
}

.footer-social__icon-youtube {
  width: 23px;
  height: 23px;
}

.footer-social__icon-facebook {
  width: 26px;
  height: 26px;
  margin: 9px 4px 0 auto;
}

.footer-social__icon-instagram {
  width: 21px;
  height: 21px;
}

.form-subscribe {
  display: flex;
}

.form-subscribe__btn {
  font-size: 14px;
  font-weight: 700;
  margin-left: -2px;
  position: relative;
}

.footer-contact {
  font-size: 15px;
  line-height: 1;
}

.footer-contact__phone {
  margin-top: 5px;
  display: inline-block;
}

.footer-pay__text {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-pay__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-pay__mir {
  width: 125px;
  height: 36px;
}

.footer-pay__visa {
  width: 64px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-pay__mastercard {
  font-size: 11px;
  line-height: 1;
  text-align: center;
}

.footer-pay__mastercard-media {
  width: 66px;
  height: 41px;
  display: block;
}

.footer-copy {
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-top {
    padding-bottom: 30px;
    border-bottom: 1px solid $gray-900;
    display: flex;
    align-items: center;
  }
  .footer-info {
    display: flex;
  }
  .footer-contact {
    max-width: 33%;
    flex-basis: 33%;
  }
  .footer-pay {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .footer-copy {
    margin-top: -25px;
  }
}

@media (max-width: 991px) {
  .footer-contact {
    padding-right: 15px;
  }
  .footer-pay__text {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer-social,
  .form-subscribe {
    justify-content: center;
  }
  .form-subscribe {
    margin-top: 15px;
  }
  .footer-contact {
    margin-bottom: 15px;
  }
  .footer-contact__phone {
    font-weight: 700;
  }
  .footer-pay {
    margin-bottom: 30px;
    padding-top: 15px
  }
}
