.info-links {
  margin-bottom: 30px;
}

.info-links-item,
.info-links-write {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
}

.info-links-item {
  font-size: 13px;
}

@media (max-width: 991px) {
  .info-links-item {
    margin-bottom: 15px;
  }
}