.page-info {
  margin-bottom: 30px;
  background-color: #efefef;
}

.page-info__title {
  margin-bottom: 6px;
}

.page-info-box a {
  border-bottom: 1px solid;
  color: inherit;
  transition: color .4s, border-bottom-color .4s;

  &:hover {
    color: $orange;
    border-bottom-color: transparent;
  }
}

@media (min-width: 576px) {
  .page-info {
    padding: 10px 20px 15px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .page-info-box__title {
    margin-bottom: 2px;
  }
  .page-info-box {
    margin-bottom: 34px;
  }
}

@media (max-width: 1199px) {
  .page-info-box__title {
    margin-bottom: 5px;
    line-height: 1.3;
  }
  .page-info-box {
    margin-bottom: 10px;

    .list-check,
    .squared-list {
      line-height: 1.4
    }
  }
}

@media (max-width: 991px) {
  .page-info-box .list-check {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .page-info {
    padding: 14px 14px 14px;
    margin-left: -14px;
    margin-right: -14px
  }
  .page-info__title {
    line-height: 1.4;
  }
}
