.video-section {
  margin-bottom: 30px;
  text-align: center;
}

.video-section__text {
  padding: 5px 10px 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  background-color: #9d9a9d;
}
