@font-face {
  font-display: swap;
  font-family: 'PTSans';
  src: url('../fonts/PTSansPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'PTSans';
  src: url('../fonts/PTSansPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
