.hide-placeholder {
  @include hidePlaceholder {
    font-size: 14px;
    color: $gray-900;
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity 0.4s ease;
    }
  }
}

.form-group-prepend {
  position: relative;
}

.form-group-prepend__field {
  padding-left: 40px;
}

.form-group-prepend__icon {
  width: 19px;
  height: 19px;
  margin-top: -9px;
  top: 50%;
  left: 10px;
  position: absolute;
  fill: $gray-900;
}

.form-errors-text {
  font-size: 13px;
}

.form-group__error {
  input {
    border: 1px solid red !important;
  }
}

@media (max-width: 1099px) {
  .hide-placeholder {
    @include hidePlaceholder {
      font-size: 13px;
    }
  }
}
